<h1> Lista de productos</h1>

<ul>
    {{#each productos}}
        {{#if status}}
        <h3>Producto {{nombre}}</h3>
        <p>Marca: {{marca}}</p>
        <p>Precio: ${{precio}}</p>
        <p>Stock: {{stock}} unidades</p>
        {{/if}}
    {{/each}}
</ul>